@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* custom properties for this project */
:root{
    /* font family */
    --ff-sans: "DM Sans", serif;
    
    /* font weight */
    --fw-normal: 400;
    --fw-bold: 500;

    /* font size */
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600:1.625rem;
    --fs-900: 2.5rem;

    /* colors */
    --clr-purple-100: hsl(254, 88%, 90%);
    --clr-purple-500: hsl(256, 67%, 59%);
    --clr-yellow-100: hsl(31, 66%, 93%);
    --clr-yellow-500: hsl(39, 100%, 71%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 7%);


}

*,
::before,
::after{
    box-sizing: border-box;
}

html{
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    background-color: var(--clr-white);

}

body{
    margin: 30px;
    

}
h2{
    line-height: 1.2;
    color: var(--clr-black);
}



img{
    max-width: 200px;
}

.card{
    min-height: 200px;
    padding: 2rem;
    
    border-radius: 10px;
    border: 1px solid black;
}

.layout-grid{
    max-width: 960px;
    display: grid;
    justify-content: center;
   
   
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'a b b  c'
    'a b b c'
    'd f e c'
    'd g h h';
    
    gap: 10px;
}

/* grid areas assignment */

.schedule__content{
    grid-area: a;
}
.five__star{
    grid-area: b;
}

.social__media{
    grid-area: c;
}

.ai__content{
    grid-area: d;
}
.multiple__accounts{
    grid-area: f;
}
.posting__schedule{
    grid-area: e;
}

.audience__card{
    grid-area: g;
}

.grow__followers{
    grid-area: h;
}

/* first card styling */
.five__star{
    background-color: var(--clr-purple-500);
    color: var(--clr-white);
    text-align: center;
    margin: 0;
    
}

.five__star h2{
    color: var(--clr-white);
    font-size: 36px;

}

.five__star p{
    font-size: small;
}
.card--big{
    color: var(--clr-yellow-500);
}

/* second card styling */
.multiple__accounts{
    background-color: var(--clr-white);
   
    font-weight: var(--fw-bold);
    
    overflow: hidden;
    

}
.multiple__accounts p{
    font-size: 1.2rem;
}
.multiple__accounts img{
    margin-bottom: 30px;
}

/* third card styling */
.posting__schedule{
    background-color: var(--clr-yellow-500);
    
    
    font-weight: var(--fw-bold);
    overflow: hidden;
}

.posting__schedule img{
    max-width: 120px;
    
}
/* fourth card stylying */
.social__media{
    background-color: var(--clr-purple-100);
   
    font-weight: var(--fw-bold);
    overflow: hidden;
}

.social__media p{
    font-size: 0.8rem;
}

/* fifth card styling */
.grow__followers{
    background-color: var(--clr-purple-500);
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    display: flex;
    
    
}

.grow__followers p{
    font-size: 1.2rem;
}

.grow__followers img{
    max-width: 150px;
}
/* sixth card styling */
.audience__card{
    background-color: var(--clr-white);
   
   
}

.audience__card p{
    font-size: .8rem;
}

.audience__card img{
    max-width: 150px;
}

/* seventh card styling */
.schedule__content{
    background-color: var(--clr-yellow-100);
    
}

.schedule__content img{
    max-width: 120px;
}

/* eighth card styling */
.ai__content{
    background-color: var(--clr-yellow-500);
    
}

.ai__content img{
    max-width: 250px;
    height: 250px;
    margin-top: 120px;
}

@media (max-width: 1024px) {
    .layout-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            'a b'
            'c d'
            'e f'
            'g h';
    }
}

@media (max-width: 768px) {
    .layout-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'a'
            'b'
            'c'
            'd'
            'e'
            'f'
            'g'
            'h';
    }
}

.attribution {
     font-size: 18px; text-align: center;
     margin-top: 20px;

}
.attribution a { color: hsl(228, 45%, 44%); }




